<div th:fragment="list (title, fields, listViewPath, newViewPath, editViewPath, crudPath, objects)">
  <div>
    <h5 th:text="${title}">List</h5>
  </div>      
  <form th:if="${not #strings.isEmpty(newViewPath)}" th:action="${newViewPath}" method="get">
    <div>
      <button type="submit" class="btn btn-primary">New</button>
    </div>
  </form>
  <div>
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <section th:each="field: ${fields}">
            <th th:text="@{__${@viewFieldUtil.getDisplayName(field.name)}__}"></th>
          </section>
          <td th:if="${not #strings.isEmpty(editViewPath)}"></td>
          <td th:if="${not #strings.isEmpty(crudPath)}"></td>
        </tr>
      </thead>
      <tbody>
        <tr th:each="object, counter: ${objects}">
          <td th:text="${counter.count}"></td>
          <section th:each="field: ${fields}">
            <td th:text="@{__${@viewFieldUtil.getFieldValue(object, field.getName())}__}"></td>
          </section>
          <td th:if="${not #strings.isEmpty(editViewPath)}">
            <form th:action="${editViewPath} +  @{/} + ${object.id}" method="get">
              <div>
                <button type="submit" class="btn btn-primary">Edit</button>
              </div>
            </form>
         </td>
         <td th:if="${not #strings.isEmpty(crudPath)}">
            <form th:action="${crudPath} + @{/delete?id=} + ${object.id}" method="post">
              <div>
                <button type="submit" class="btn btn-primary">Delete</button>
              </div>
            </form>
          </td>               
        </tr>
      </tbody>
    </table>
  </div>
</div>  