<div  th:fragment="edit (title, fields, listViewPath, newViewPath, editViewPath, crudPath, object, action)">
    <div>
        <h5 th:text="${title}">List</h5>
    </div>    
    <form th:action="${crudPath} + @{/} + ${action}" method="post"  th:object="${object}">
        <div class="m-3">
            <section th:each="field: ${fields}">
                <div class="form-group row">
                    <label class="col-4 col-form-label" th:text="@{__${@viewFieldUtil.getDisplayName(field.getName())}__}">Name: </label>
                    <div class="col-8">
                    <input th:name="${field.name}" th:data-type="${field.type}" class="form-control" th:value="@{__${@viewFieldUtil.getFieldValue(object, field.getName())}__}" th:placeholder="@{__${@viewFieldUtil.getDisplayName(field.getName())}__}"/>
                    </div>
                </div>
            </section>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>