<div  th:fragment="edit (title, entityFields, listViewPath, newViewPath, editViewPath, crudPath, object, action)">
    <div>
        <h5 th:text="${title}">List</h5>
    </div>    
    <form th:action="${crudPath} + @{/} + ${action} " method="post"  th:object="${object}">
        <div class="m-3">
            <span>
                <ul>
                    <li th:each="err : ${errors}" th:text="${err}" class="error">
                </ul>
            </span>            
            <section th:each="field: ${entityFields}">
                <div class="form-group row">
                    <label class="col-4 col-form-label" th:text="@{__${@viewFieldUtil.getDisplayName(field.getName())}__}">Name: </label>
                    <div class="col-8">
                        <input th:if="not @{__${@viewFieldUtil.isAssociationFieldAndListAvailableAndNotNullOrEmpty(field, listObjects, object)}__}" th:readonly="${field.generatedColumn}" th:name="${field.name}" th:type="${field.viewType}" class="form-control" th:value="@{'__${@viewFieldUtil.getFieldValue(object, field.getName())}__'}" th:required="${field.required}" th:placeholder="${field.placeHolder}"/>
                        
                        <select th:if="@{__${@viewFieldUtil.isAssociationFieldAndListAvailableAndNotNullOrEmpty(field, listObjects, object)}__}" th:name="${field.name}" class="form-select" th:multiple="${field.manyAssociation}" aria-label="select">
                            <div th:with="objectValues=@{__${@viewFieldUtil.getFieldSelectorIdList(object, field.getName(), listObjects)}__}">
                                <div th:each="objectValue, counter : ${#strings.arraySplit(objectValues, ',[]')}">
                                    <option th:if="${objectValue} != null"
                                            th:value="${objectValue.trim}"  
                                            th:text="@{'__${@viewFieldUtil.getFieldSelecterDisplayName(object, field.getName(), listObjects, objectValue)}__'}"
                                            th:selected="@{'__${@viewFieldUtil.isSelected(object, field.getName(), listObjects, objectValue)}__'}">Value</option>
                                </div>
                            </div>
                        </select>
                    </div>
                    
                </div>
            </section>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>