<div th:fragment="header">
    <div class="row bg-secondary">
        <div class="d-flex col">
            <div class="d-inline p-2 bg-secondary text-white flex-grow-1">MIU Home Rental System</div>
        </div>
        <div class="d-flex col">
            <div class="box"></div>
        </div>        
        <div class="d-flex col">
            <div class="d-inline p-2 bg-secondary text-white flex-grow-1 text-end">
                Welcome
                <span sec:authorize="not isAuthenticated()">, Guest</span>
                <span sec:authorize="isAuthenticated()">, </span>
                <span sec:authorize="isAuthenticated()" sec:authentication="name"></span>
            </div>
            <div class="col"></div>
            <div class="navbar-expand" id="navbarSession">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Logout</a>
                    </li>
                </ul>
            </div>
            <div class="col"></div>
            <div class="navbar-expand" id="navbarRegister">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li sec:authorize="!isAuthenticated()" class="nav-item">
                        <a class="nav-link" href="/register">Register</a>
                    </li>
                </ul>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col">
            <div class="box"></div>
        </div>
    </div>
</div>  