        <div th:fragment="navigation">  
            <div class="col">
                <div class="box">
                    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="/">Home</a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                              <li sec:authorize="isAuthenticated()"  class="nav-item">
                                <a class="nav-link" href="/addresses">Addresses</a>
                              </li>
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="/legal-entities" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Legal Entities
                                </a>
                                <ul class="dropdown-menu">
                                  <li class="nav-item">
                                    <a class="dropdown-item" href="/legal-entities">All Legal Entities</a>
                                  </li>
                                  <li sec:authorize="isAuthenticated() and !hasAuthority('Guest')" ><hr class="dropdown-divider"></li>
                                  <li sec:authorize="isAuthenticated() and !hasAuthority('Guest')"  class="nav-item">
                                    <a class="dropdown-item" href="/companies">Companies</a>
                                  </li>
                                  <li sec:authorize="isAuthenticated() and !hasAuthority('Guest')"  class="nav-item">
                                    <a class="dropdown-item" href="/persons">Persons</a>
                                  </li>
                                </ul>
                              </li>
                              <li sclass="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="/properties-list" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Properties
                                </a>
                                <ul class="dropdown-menu">
                                  <li class="nav-item">
                                    <a class="dropdown-item" href="/properties-list">All Properties</a>
                                  </li>
                                  <li sec:authorize="isAuthenticated() and !hasAuthority('Guest')" ><hr class="dropdown-divider"></li>
                                  <li sec:authorize="isAuthenticated() and !hasAuthority('Guest')"  class="nav-item">
                                    <a class="dropdown-item" href="/houses">Houses</a>
                                  </li>
                                  <li sec:authorize="isAuthenticated() and !hasAuthority('Guest')"  class="nav-item">
                                    <a class="dropdown-item" href="/apartments">Apartments</a>
                                  </li>
                                </ul>
                              </li>
                              <li sec:authorize="isAuthenticated() and hasAuthority('Admin')" class="nav-item dropdown">
                                <a sec:authorize="isAuthenticated() and hasAuthority('Admin')"  class="nav-link dropdown-toggle"
                                   href="/users" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Users
                                </a>
                                <ul class="dropdown-menu">
                                  <li sec:authorize="isAuthenticated() and hasAuthority('Admin')"  class="nav-item">
                                    <a class="dropdown-item" href="/users">All users</a>
                                  </li>
                                  <li><hr class="dropdown-divider"></li>
                                  <li sec:authorize="isAuthenticated() and hasAuthority('Admin')"  class="nav-item">
                                    <a class="dropdown-item" href="/admins">Admins</a>
                                  </li>
                                  <li sec:authorize="isAuthenticated() and hasAuthority('Admin')"  class="nav-item">
                                    <a class="dropdown-item" href="/landlords">Landlords</a>
                                  </li>
                                  <li sec:authorize="isAuthenticated() and hasAuthority('Admin')"  class="nav-item">
                                    <a class="dropdown-item" href="/tenants">Tenants</a>
                                  </li>
                                </ul>
                              </li>
                              <li sec:authorize="isAuthenticated() and !hasAuthority('Guest')" class="nav-item dropdown">
                                <a sec:authorize="isAuthenticated() and !hasAuthority('Guest')"  class="nav-link dropdown-toggle"
                                   href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Rental Options
                                </a>
                                <ul class="dropdown-menu">
                                  <li sec:authorize="isAuthenticated() and !hasAuthority('Guest')"  class="nav-item">
                                    <a class="dropdown-item" href="/inquiries">Inquiries</a>
                                  </li>
                                  <li sec:authorize="isAuthenticated() and !hasAuthority('Guest')"  class="nav-item">
                                    <a class="dropdown-item" href="/rent_applications">Rent Applications</a>
                                  </li>
                                  <li sec:authorize="isAuthenticated() and !hasAuthority('Guest')"  class="nav-item">
                                    <a class="dropdown-item" href="/rental_agreements">Rental Agreements</a>
                                  </li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                </div>
            </div>
        </div>