<html lang="en">
<head th:insert="~{fragments/htmlhead :: head (title='Welcome')}">
<body>
    <div class="container">
        <header th:insert="~{fragments/header :: header}"></header>

        <div th:insert="~{fragments/navigation :: navigation}"></div>

        <div class="row">
            <div class="col-12 mt-5">
                <div class="row">
                    <div class="col-4">
                        <img src="/images/error.png" class="card-img-top" alt="...">
                    </div>

                    <div class="col-8">
                        <h3 th:text="${errorMessage}"></h3>
                        <h1 th:text="${errorCode}"></h1>
                        <p th:utext="${errorMessage}"></p>

                        <a href="/" th:href="@{/}">Back to Home Page</a>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{fragments/footer :: footer}"></div>

        <div th:insert="~{fragments/scripts :: scripts}"></div>
    </div>
</body>
</html>