<html lang="en">
<head th:insert="~{fragments/htmlhead :: head (title='User List')}">
<body>
    <div class="container">
        <header th:insert="~{fragments/header :: header}"></header>
        <div class="row">
            <div th:insert="~{fragments/navigation :: navigation}"></div>
            

            
          <div>
            <h1>Add/Modify Company</h1>
          </div>
          <form th:action="${'/company/'} + ${action}" method="post"  th:object="${company}">
            <div class="m-3">
              <div class="form-group row">
                <label class="col-4 col-form-label">ID: </label>
                <div class="col-8">
                  <input type="number" th:field="*{id}" class="form-control" required value="{id}" placeholder="ID"/>
                </div>
              </div>
        
              <div class="form-group row">
                <label class="col-4 col-form-label">Name: </label>
                <div class="col-8">
                  <input type="text" th:field="*{name}" class="form-control" required value="*{name}" placeholder="Name"/>
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
    
  <div th:insert="~{fragments/footer :: footer}"></div>
</div>
<div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>