 <html lang="en">
<head th:insert="~{fragments/htmlhead :: head (title='Sign-in')}">
<body>
    <div class="container">
        <header th:insert="~{fragments/header :: header}"></header>
        <div class="row">
            <div th:insert="~{fragments/navigation :: navigation}"></div>
            <div class="col-4"></div>
            <div class="col-4">            
                <div th:if="${param.error}">
                    <div class="box text-center text-danger">
                        <br />
                        Invalid username or password.
                    </div>
                </div>

                <div th:if="${param.logout}">
                    <br />
                    <div class="box text-center text-info">
                        You have been logged out.
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="box">&nbsp;
                            <div class="container text-center align-items-center">
                                <form th:action="@{/login}" method="post" >
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="username-label">Username</span>
                                        <input type="text" id="username" name="username" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="username-label">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="password-label">Password</span>
                                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="password-label">
                                    </div>
                                    <input class="btn btn-primary" type="submit" value="Login">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        <div th:insert="~{fragments/footer :: footer}"></div>
    </div>
    <div th:insert="~{fragments/scripts :: scripts}"></div>
</body>
</html>